hr {
    border-color: white !important;
}

#bookImg {
    height: 250px;
}

.slider-label {
    padding-top: 6px;
    padding-bottom: 6px;
}

.isbn-disabled {
    background-color: #bfbfbf !important;
    border-color: #808080 !important;
}
