.body-bg{
    background-image: url(../img/background.jpg);
    background-repeat: repeat;
    background-position: 50%;
    background-color: #f2eee5;
}

.cart-msg{
    font-weight: lighter;
    color: darkgray;
}

.cart-heading{
    margin: 32px 32px 36px 36px;
}

.card-img{
    width: 100%;
    height: 10vw;
    object-fit: contain;
}

.card-title{
    color: #f19a0e;
}

.card-title:hover{
    color: #c17b0b;
    text-decoration: none;
}

@media (max-width: 767px){
    .card-img{
        height: 18vw;
    }
}

.editable-text{
    color: green;
    font-weight: lighter;
}

.center-text-align{
    text-align: center;
}

.plus-sign{
    margin-left: 10px;
    color: white !important;
    text-decoration: none;
}

.minus-sign{
    margin-right: 10px;
    color: white !important;
    text-decoration: none;
}

.checkout-btn{
    color: white !important;
    margin-bottom: 32px;
    display: block;
    width: 80%;
    text-align: center;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.unavailable {
    color: red !important;
}

.btn-danger{
    color: white !important;
}
