#profileDropdownMenu,
#cartDropdownMenu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: .5s ease all;
}
#profileDropdownMenu.show,
#cartDropdownMenu.show {
    display: block;
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition: .5s ease all;
}
#cartDropdownMenu li.list-group-item {
    border: 0;
}
.color-fade a {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.color-fade:hover a, .color-fade:focus a, .color-fade:active a {
    color: #f29d16 !important;
}
.logo-header {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.logo-header:hover, .logo-header:focus, .logo-header:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.top-banner {
    background-color: #f29d16;
}
#cartDropdown {
    line-height: 45px;
}
.cart-dropdown-menu {
    min-width: 400px;
    padding: 20px 15px 20px 15px;
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}
.cart-empty {
    margin: 0px;
}
#lblCartCount {
    font-size: 12px;
    background: #f29d16;
    color: 000;
    padding: 5px;
    vertical-align: top;
    margin-left: -10px;
}
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #f29d16;
}

.cart-img{
    height: 90%;
    width: 80%;
}

.cart-title{
    color: #55a2d9;  
}

.cart-qty{
    font-weight: lighter;
}
.cart-price{
    font-size: 20px;
    font-weight: lighter;
}
.cart-subtotal{
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 20px;
    color: #55a2d9; 
}
.cart-btn {
    color: white;
    background-color: #f29d16;
}
.cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
}

#btnLogout {
    cursor: pointer;
}

.cart-list-item {
    padding-left: 16px;
    padding-right: 16px;
}
.cart-bottom {
    z-index: 1000;
    bottom: -20px;
    background-color: white;
}
