:root {
    font-size: 100%;
    font-size: 16px;
    line-height: 1.5;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background: #f29d16;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

.left {
    height: 200px;
    background: #e3f2fd;
    background-size: cover;
}

.left, .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right .login_section {
    color: black;
    text-align: center;
}

.right .login_section p {
    margin: 1.5rem 0;
    font-size: 14px;
}

.right form{
    width: 350px;
}

form input[type="email"], form input[type="password"]{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px  solid #c4c4c4;
    padding: 16px;
    margin-bottom: 20px;
    font-size: 10px;
}

label{
    display: block;
    margin-bottom: 8px;
    font-size: 15px;
}

.btn_login {
    display: block;
    width: 100%;
    background-color: #0000A0;
    color: white;
    font-weight: bold;
    border: none;
    padding: 16px;
    border-radius: 8px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.btn_login:hover{
    background-color: #2c4893;
    cursor: pointer;
}




