hr {
    border-color: white;
}

.order-details {
    padding: 12px;
}

.book-details-table {
    background-color: unset !important;
}
.book-details-table tbody * {
    border: 0 !important;
}
.book-details-table thead * {
    border-color: white !important;
}
.book-details-table tbody > tr:last-child {
    border-bottom: 1px solid white !important;
}

.page-item.active-page .page-link {
    z-index: 1;
    color: #fff;
    background-color: #292b2c;
    border-color: #fff;
}
.page-item .page-link {
    color: #292b2c;
}

.quicksearch-toggle {
    border-radius: 0.25rem 0 0 0.25rem;
}
.quicksearch-toggle:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #f29d16;
    border-color: #f29d16;
}
