hr {
    border-color: white;
}

.search .form-control {
    padding-left: 2.375rem;
}

.search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaaaaa;
}

.order-details {
    padding: 12px;
}

.book-details-table {
    background-color: unset !important;
}
.book-details-table tbody * {
    border: 0 !important;
}
.book-details-table thead * {
    border-color: white !important;
}
.book-details-table tbody > tr:last-child {
    border-bottom: 1px solid white !important;
}
