hr {
    border-color: white;
}

.btn-link:hover {
    text-decoration: none !important;
}

.book-img {
    max-width: 120px;
}

.page-item.active-page .page-link {
    z-index: 1;
    color: #fff;
    background-color: #292b2c;
    border-color: #fff;
}
.page-item .page-link {
    color: #292b2c;
}

.quicksearch-toggle {
    border-radius: 0.25rem 0 0 0.25rem;
}
.quicksearch-toggle:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #f29d16;
    border-color: #f29d16;
}
