.jumbotron {
  background-image: url("https://www.stmellitus.ac.uk/sites/default/files/Library%20banner_0.png");
  background-size: cover;
  color: white
}

.background-tint {
  background-color: rgba(0,0,0,.9);
  background-blend-mode: multiply;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.card-title{
    text-align: center;
}

.card-text{
    text-align: center;
}

.cart-btn{
    width: 100%;
    background-color: #f5a142;
    border: none;
    color: white;
    padding: 6px 8px;
    font-size: 16px;
    cursor: pointer;
}

.cart-btn:hover{
    background-color: #d48a37;
}
